
.header-text{
    text-align: center;
    margin-top: 50px;
}

.search-button{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.song-list{
    text-align: center;
    margin-top: 100px;
}

.playlist-display{
    background-color:rgb(232, 241, 250) ;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
}

.playlist-row{
    cursor: pointer;
    text-align: center;
    margin: 5px 0;
}

.save-playlist-text{
    text-align: center;
    margin-top: 100px;
}